html,
body {
    margin: 0;
    background-color: rgb(178, 243, 238);
}

img {
    width: 150px;
}

.bingo {
    color: red;
}

td {
    width: 73px;
    height: 30px;
    text-align: center;
}

#jugando {
    text-align: center;
    font-size: 48px;
    width: 363px;
}

#resultado {
    text-align: center;
    font-size: 28px;
    width: 363px;
}

.bg-info{
    background-color: #17a2b8;
}

.text-white{
    color: white;
}